{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div id="availabilityChartContainer" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="col-md-6">
            <div id="ageChartContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </div>

    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script>
        window.onload = function() {
            // Volunteer Availability Chart
            var availabilityChart = new CanvasJS.Chart("availabilityChartContainer", {
                animationEnabled: true,
                title: {
                    text: "Volunteer Availability"
                },
                data: [{
                    type: "column",
                    yValueFormatString: "#,##0.00\"%\"",
                    indexLabel: "{label} ({y})",
                    dataPoints: {{ dataPointsAvailability | raw }}
                }]
            });
            availabilityChart.render();

            // Volunteer Age Chart
            var ageChart = new CanvasJS.Chart("ageChartContainer", {
                animationEnabled: true,
                title: {
                    text: "Volunteer Age Groups"
                },
                data: [{
                    type: "pie",
                    yValueFormatString: "#,##0.00\"%\"",
                    indexLabel: "{label} ({y})",
                    dataPoints: {{ dataPointsAge | raw }}
                }]
            });
            ageChart.render();
        }
    </script>
{% endblock %}
