{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<!--  END CONTENT AREA  -->
<div id="stockLowNotification" style="display: none;">
    <p>Attention : Certains matériels ont un stock bas !</p>
</div>
{% endblock %}
