{% extends 'base.html.twig' %}

{% block title %}Edit Demandededon{% endblock %}

{% block body %}
    <h1>Edit Demandededon</h1>

    {{ include('demandededon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_demandededon_index') }}">back to list</a>

    {{ include('demandededon/_delete_form.html.twig') }}
{% endblock %}
