{% extends 'base.html.twig' %}

{% block title %}New Demandededon{% endblock %}

{% block body %}
    <h1>Create new Demandededon</h1>

    {{ include('demandededon/_form.html.twig') }}

    <a href="{{ path('app_demandededon_index') }}">back to list</a>
{% endblock %}
